<div class='row'>
  <div class='col-sm-12 admin-panel'>
    <%= link_to 'Edytuj Slider', slides_path, class: 'btn btn-primary' %>
    <%= link_to 'Edytuj Foreing rights / Kontakt', editors_path, class: 'btn btn-primary' %>
    <%= link_to 'Edytuj Serie', '/admin/series', class: 'btn btn-primary' %>

    <%= link_to "Importuj dane z elibri", enqueue_elibri_path, class: "btn btn-primary" %>
  </div>
</div>

